body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
  }
  
  .navbar button {
    color: #fff;
    background-color: #007bff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .navbar button:hover {
    background-color: #0056b3;
  }
  
  main {
    display: flex;
    place-items: center;
    flex-wrap: wrap;
    background: #7f7fd5;
    background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
    justify-content: center;
    max-width: 1200px;
    padding-top: 2rem;
    gap: 2rem;
    border: 2px solid #333;
  }

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.2s;
    height: 350px;
    display: flex;
    flex-direction: column;
    width: clamp(20rem, calc(20rem + 2vw), 22rem);
    overflow: hidden;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    background: #ECE9E6;
    background: linear-gradient(to right, #FFFFFF, #f7ebdf);
  }
  
  .card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    transform: translateY(-10px);
  }
  
  .card h3 {
    font-size: 18px;
    margin: 0;
  }
  
  .card p {
    font-size: 14px;
    color: #666;
  }


  img {
    max-width: 100%;
    display: block;
    object-fit: cover;
    height: 250px;
  }
  
  
  .card__body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }
  
  
  .tag {
    align-self: flex-start;
    padding: .25em .75em;
    border-radius: 1em;
    font-size: .75rem;
  }
  
  .card__body h4 {
    font-size: 1.5rem;
    text-transform: capitalize;
  }
  